:root {
  --hiq-container-horizontal-gap: 1rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body > header {
  background: white;
}

body > main {
  background-color: var(--hiq-color-gray-8);
  border-top: 1px solid var(--hiq-color-gray-6);
  flex: 1;
}

.container {
  margin-left: 1rem;
}

body > header {
  display: flex;
  align-items: center;
}
body > header > figure {
  flex: 1 1 auto;
}
body > header > nav {
  flex: 0 0 auto;
}

.vrn-logo {
  margin: 1rem;
  margin-left: 0;
  display: inline-block;
  padding: 0;
}
.vrn-logo > * {
  display: inline;
  vertical-align: middle;
}
.vrn-logo > svg {
  margin-left: -0.5rem;
}
.vrn-logo > h2 {
  font-weight: 200;
  margin-left: -0.5rem;
}
