body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body > header {
  background: white;
}

body > main {
  background-color: var(--hiq-color-gray-8);
  border-top: 1px solid var(--hiq-color-gray-6);
  flex: 1;
}
