<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  {{> _head}}
</head>
<body>
  <main>
    <h1>Hello {{name}}!</h1>
    <h2>Frobulators of the day</h2>
    <ol>
      {{#frobulators}}
      <li>
        <a href="/frobulators/{{key}}">{{.}}</a>
      </li>
      {{/frobulators}}
    </ol>
    {{^frobulators}}
    <p><em>No frobulators, sorry!</em></p>
    {{/frobulators}}
    <a href="/frobulators/new">
      {{> icons/_add}}
      Create new Frobulator
    </a>
  </main>
  {{> _foot}}
</body>
</html>