<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    {{> _head }}
  </head>
  <body>
    <header>
      header
    </header>
    <main>
      <section class="container is-fluid">
        <h1>Hello World!</h1>
      </section>
    </main>
    {{> _foot }}
  </body>
</html>
